<section id="home-section" style="padding-top: 9em; padding-bottom: 1em;">
        <div class="container">  
            <div class="row">
              <div class="col-md-12">                                
                <marquee class="text-danger" behavior="scroll" scrollamount="3" scrolldelay="30" truespeed="truespeed" onMouseOver="this.stop()" onMouseOut="this.start()">അഡ്മിഷൻ അപേക്ഷ 2021 സർക്കാർ തീരുമാനപ്രകാരം</marquee>
              </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                      <h4 class="text-info text-center">അറിയിപ്പ്</h4>
                      <marquee class="text-danger text-justify" width="100%" height="300" direction="up" behavior="scroll" scrollamount="3" scrolldelay="30" truespeed="truespeed" onMouseOver="this.stop()" onMouseOut="this.start()">                        
                        അഡ്മിഷൻ അപേക്ഷ 2021 സർക്കാർ തീരുമാനപ്രകാരം<br><br>                  
                      </marquee>
                      <h4 class="text-center"><a href="https://www.vhscap.kerala.gov.in/" class="btn btn-info">www.vhscap.kerala.gov.in</a></h4>
                </div>
                <div class="col-md-6">
                    <a href="https://www.vhscap.kerala.gov.in/" class="text-decoration-none"><h4 class="pt-4 text-info">Single Window System for Vocational Higher Secondary Admission</h4></a>
                    <blockquote class="blockquote">
                    <p class="text-muted">"Education is not the learning of facts, but the training of the mind to think."</p>
                    <footer>- Albert Einstein</footer>
                    </blockquote>
                </div>
            </div>
        </div>
</section>
    <section class="bg-light">
        <div class="container">
            <h3 class="text-info">Plus One, Plus Two & VHSE വിദ്യാർത്ഥികൾക്കായുള്ള 12 സ്കോളർഷിപ്പുകൾ</h3>
            <div class="embed-responsive embed-responsive-21by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NNR62y7pXxo"></iframe>
            </div>
        </div>
    </section>